/*Colour Palette
#632B6C; Finn
#89345D; Quinacridone Magenta
#280F36; Dark Purple
#961C17; Carmine
#2F0B09; Black Bean
#DFF3E4; Honeydew
#CFA0D9; Wisteria
#DDBEEE; Thistle
#FCF5F2; Snow
#D4CBC6; Timberwolf
*/

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Cabin:ital,wght@0,400..700;1,400..700&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

/* Global Styles */
/* Variables */
:root {
  --logo-font: 'Alata', sans-serif;
  --heading-font: 'Libre Franklin', sans-serif;
  --body-font: 'Cabin', sans-serif;
  --primary-color: #89345D; /* Quinacridone Magenta */
  --secondary-color: #632B6C; /* Finn */
  --heading-color: #280F36; /* Dark Purple */
  --lead-color: #961C17; /* Carmine */
  --text-color: #2F0B09; /* Black Bean */
  --highlight-color: #FCF5F2; /* Snow */
  --secondary-highlight-color: #bbb2ad; /* Timberwolf */
  --button-primary-color: #DDBEEE; /* Thistle */
  --button-secondary-color: #CFA0D9; /* Wisteria */
  --background-color: #DFF3E4; /* Honeydew */
}

body {
  font-family: var(--body-font);
  color: var(--text-color);
  background-color: var(--background-color);
}

h1,
h2,
h3 {
  font-family: var(--heading-font);
  color: var(--heading-color);
}

.lead {
  color: var(--lead-color);
}

/* Navigation */
.navbar {
  height: 6rem;
  background-color: var(--secondary-color);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
}
.navbar-brand {
  color: var(--highlight-color);
  font-family: var(--logo-font);
  font-size: 1.2rem;
}
.nav-link, .navbar-toggler {
  color: var(--highlight-color);
  border-color: var(--highlight-color);
}
.navbar-nav .nav-link.active, 
.nav-link:focus, 
.nav-link:hover, 
.navbar-brand:focus, 
.navbar-brand:hover{
  color: var(--secondary-highlight-color);
}
/* Header */

/* Main Content */

/* Footer */
footer {
  background-color: var(--primary-color);
  color: var(--highlight-color)
}
footer a {
  color: var(--highlight-color);
}
footer a:hover, footer a:focus {
  color: var(--secondary-highlight-color);
}
footer h5 {
  font-size: 1.1rem;
  font-family: var(--heading-font);
}
footer {
  text-align: center;
}
#social-links a {
  margin: 1rem;
  font-size: 1.1rem;
}

/* Media Queries */
@media (min-width: 768px) {
  footer {
    text-align: left;
  }
  #social-links {
    text-align: right;
  }
}
@media (min-width: 1000px) {
  #contact {
    order: 1;
  }
  #newsletter {
    order: 2;
  }
  #social-links {
    order: 3;
  }
}